.loginAndRegister{
  background: url('../../../public/backgroudphoto2.jpeg') no-repeat;
  background-size: 100%;
  height: 100vh;
  background-position: 100% 10%;
}

.loginButtonsContainer, .registerButtonsContainer{
  padding: 2rem;
  display: flex;
  justify-content: center;;
  margin: 30px 140px;
  input[type=submit] {
    background-color: yellowgreen;
    border: none;
    border-radius: 2rem;
    color: white;
    padding: 0.5rem 3rem;
    text-decoration: none;
    cursor: pointer;
  }
}

.userNameContainer,.passcodeContainer {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.userNameItem ,.passcodeItem{
  margin:0 10px 0 0;
}

.inputUsername, .inputPasscode{
  border-radius: 15px;
  border: white 2px solid;
  font-size: 12px;
  width: 160px;
  border: white 2px solid;
  text-align: center;
}

