.registerFormContainer {
   width: 600px;
   height: 300px;
  margin: 100px auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
  font-size: 20px;
  background-image: url("../../../../public/backgroudphoto.jpg");
  background-size: 800px 250px;
}

.userNameContainer {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.passcodeContainer{
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.loginButtonsContainer{
  display: flex;
  justify-content: space-between;;
  margin: 30px 140px;
}

.userNameItem{
  margin:0 10px 0 0;
}
.passcodeItem{
  margin:0 10px 0 0;
}
.inputUsername{
  border-radius: 15px;
  border: white 2px solid;
}
.inputPasscode{
  border-radius: 15px;
  border: white 2px solid;
}